button.slick-prev, button.slick-next {
  background: red;
}

button.slick-prev:hover, button.slick-next:hover {
  background: black;
}


#place-photos {
  width: 630px;
  margin-top: 55px;
  float: right;
}



img {
  width: 200px;
  margin: 0px;
}

.index-img:hover {
  transform: scale(1.25);
  border: 1px solid black;
}
