button.slick-prev, button.slick-next {
  background: blue;
}

button.slick-prev:hover, button.slick-next:hover {
  background: black;
}


#place-photos {
  width: 630px;
  margin: 0px;
  float: right;
}



img {
  width: 200px;
  margin: 0px;
}
