.place-name {
  font-size: 16px;
  font-weight: bold;
}



.index-img {
  border: 3px solid gray;
  border-radius: 25px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20xp;
  margin-top: 20px;
}

.multiple-place {
  float: right;
  margin-right: 100px;

}


.search-page {
  width: 800px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
}
