.place-name {
  font-size: 16px;
  font-weight: bold;
}

.multiple-place {
  float: right;
}

.index-img {
  border: 3px solid gray;
  border-radius: 25px;
  float: left;
  margin-right: 50px;
  margin-bottom: 20xp;
  margin-top: 20px;
  height: 150px;
}

.multiple-place {
  float: right;
}

#second-container {
  height: 100vh;
}

.search-page {
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  float: left;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.5);
}

#address {
  width: 450px;
}

.search-results {
  padding-left: 5px;
}

nav.navbar-default {
  margin: 0px;
}

.place-name span {
  cursor: pointer;
}
