/*html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}



img {
  display: block;
  width: 100%;
  /* expands to full 100% of parent container */
  /*height: auto;
}*/

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

#bg-images {
  position:relative;
  margin:0;
}
#bg-images img {
  position:absolute;
  width: 100%;
  left:0;
  -webkit-transition: opacity 1s ease-in-out !important;
  -moz-transition: opacity 1s ease-in-out !important;
  -o-transition: opacity 1s ease-in-out !important;
  transition: opacity 1s ease-in-out !important;
}

@keyframes bgFadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#bg-images img.top {
  animation-name: bgFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}



.front-page {
  top: 300px;
  font-size: 40px;
  color: black;
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(255,255,255,0.5);
}

.front-page span {
  font-family: cursive;
}

#search-form{
  font-size: 20px;
}

#search-form #three {
  color: gray;
}

.multiple-place {
  width: 250px;
  height: 250px;
}

.one-place {
  width: 200px;
  height: 200px;
}

#btn-login {
  background-color: #d9edf7;
  color: gray;
  border: none;
}

div.container-fluid {
  background-color: #af0606;
}

#bar {
  width: 300px;
}


#auto-search {
  width: 300px;
  margin-left: 10px;
}

#search-button {
  margin-left: 10px;
}
